@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
  margin: 0;
  font-family: Quicksand !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
